## Last changed: 2018-05-29 13:49:48 PDT
version 18.1R1.9;
system {
    host-name vMX-1;
    time-zone PST8PDT;
    root-authentication {
        encrypted-password "$6$m5YtgURL$uAIitcufA.zDEudVDncsc86pgubI1buj/P3qMwu2tISJpHHNbBKpCsFvACVV7elNP7YrM/0C8LxWdOxDjgSPq/"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.1/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.1.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 172.25.11.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.1/32;
            }
        }
    }
}
