## Last changed: 2018-06-03 23:15:01 PDT
version 18.1R1.9;
system {
    host-name vMX-1;
    time-zone America/Los_Angeles;
    root-authentication {
        encrypted-password "$6$AZxW2WE0$jwEr97k8W2bVMCeq38SrW8BQMlk.Ode6RxPMPSsnwAEponIG3qrW.4IzOCvRXmmKbGGSoBP1VRj3AlAiR9XEk1"; ## SECRET-DATA
    }
    login {
        user dev {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$6$n6dTbqSB$eQT2D5GqgTUQaT.y0xVeQLg.Lt0ZCRlpFCSvLLnLXxnEcMRSbeT5kcbFnwyr1x6VsfXOuVdmjSCeZuDNeRRZo0"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$d3Z9n4Fv$A4plP4UZXkCurLFM1HRE7XCWaadk6HPyl1GtnqM5AzZXg0OrlJGZJrPicsKIcXE1Mny2adLNQ4jRh3q7YuiHw."; ## SECRET-DATA
            }
        }
        user ops {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$6$Y8wRkCyO$k8nycedu4e35TdSD2V2d94QpHGgIsvnIs8NHFb9lXWlqeVVYPfGCU0e.LydqaTDg/d.PwRNDGigitnSl7W1Vh0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        lite-mode;
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.1/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.1.1/24;
            }
        }
    }
    fxp0 {
        description "MGMT Interface - DO NOT DELETE";
        unit 0 {
            family inet {
                address 172.25.11.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.1/32;
            }
        }
    }
}
